

ul{

	padding: 0;
}

ul li{

	list-style-type: none;
}


#mock-console{
    
    height: 600px;
    width: 300px;
    position: absolute;
    right: 0;
    top: 30px;
}






























