

ul{

	padding: 0;
}

ul li{

	list-style-type: none;
}


#mock-console{
    
    height: 600px;
    width: 300px;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #333;
    color: #0f0;
    padding: 10px;
    font-family: monospace;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #555;
}






























